{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="box">
        <div>Title: <strong>{{ lecture.title }}</strong></div>
        <div>Lecturer: <strong>{{ lecture.lecturer }}</strong></div>
        <div>Date: <strong>{{ lecture.date }}</strong></div>
        <div>Time: <strong>{{ lecture.time }}</strong></div>
        <div>Duration: <strong>{{ lecture.duration }}</strong></div>

        <div class="icon">
            <a href="{% url 'lecture_edit' lecture.id %}"><i class="fa fa-pencil"></i></a>
        </div>

        <div class="icon">
            <a href="{% url 'lecture_delete' lecture.id %}"><i class="fa fa-remove"></i></a>
        </div>
    </div>

    <div class="box">
        <form method="post">
            {% csrf_token %}

            {% if form.student_id.errors %}
                <p style="color: red">{{ form.student_id.errors.0 }}</p>
            {% endif %}

            <div class="field has-addons">
                <p class="control">
                    {{ form.student_id|attr:"autofocus" }}
                </p>

                <p class="control">
                    <input class="button is-primary" type="submit" value="Submit" />
                </p>
            </div>

        </form>
    </div>


    {% if students|length %}
        <div class="box">
            <div><strong>Students ({{students|length}}):</strong></div>

            {% for student in students %}
                <p><a href="{% url 'student_detail' student.id %}">{{ student.id }} - {{ student.name }}</a></p>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
