{% extends 'base.html' %}

{% block content %}
    <div class="box">
        <div>Title: <strong>{{ lecture.title }}</strong></div>
        <div>Time: <strong>{{ lecture.time }}</strong></div>
        <div>Date: <strong>{{ lecture.date }}</strong></div>
        <div>Lecturer: <strong>{{ lecture.lecturer }}</strong></div>

    </div>

    <div class="box">
        <form method="post">
            {% csrf_token %}

            {% if form.errors %}
                <p style="color: red">Erro!</p>
            {% endif %}


            {% for field in form %}
                {% for error in field.errors %}
                    <div>{{ error }}</div>
                {% endfor %}

                <p class="control">
                    {{ field }}
                </p>
            {% endfor %}

            <br>

            <p class="control">
                <input class="button is-primary" type="submit" value="Submit" />
            </p>
        </form>
    </div>

    {% if students|length %}
    <div class="box">
        <div><strong>Students:</strong></div>

        {% for student in students %}
            <div>{{ student.name }}</div>
        {% endfor %}

        <div class="icon">
            <i class="fa fa-plus"></i>
        </div>
    </div>
    {% endif %}
{% endblock %}
