{% extends 'base.html' %}

{% block content %}
    <div class="box">

        {% if object %}
            <h1 class="subtitle">Editing "{{ object.title }}"</h1>
        {% else %}
            <h1 class="subtitle">Creating new lecture</h1>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                {% for error in field.errors %}
                    <div style="color: red">{{ error }}</div>
                {% endfor %}

                <p class="control">
                    {{ field }}
                </p>

                <br>
            {% endfor %}

            <p class="control">
                <input class="button is-primary" type="submit" value="Submit" />

                {% if object %}
                    <a href="{% url 'lecture_detail' object.id %}" class="button">Cancel</a>
                {% else %}
                    <a href="{% url 'lecture_list' %}" class="button">Cancel</a>
                {% endif %}
            </p>
        </form>
    </div>
{% endblock %}
