{% extends 'base.html' %}

{% block content %}
    {% for lecture in object_list %}
    <div class="box">
        <a href="{% url 'lecture' lecture.id %}">
            <strong>{{ lecture.title }}</strong>
        </a>

        <small>
            {{ lecture.date }} <strong>||</strong>
            {{ lecture.time }} <strong>||</strong>
            {{ lecture.duration }}
        </small>

        <br>

        <small>{{ lecture.lecturer }}</small>

    </div>
    {% endfor %}

    <div class="box">
        <p class="control">
            <a class="button is-primary" href="{% url 'lecture_create' %}">
                <span class="icon is-small">
                    <i class="fa fa-plus"></i>
                </span>

                <span>New Lecture</span>
            </a>
        </p>
    </div>
{% endblock %}
