{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Hertz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
        <script src="https://use.fontawesome.com/c8f8c715ae.js"></script>

        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    </head>

    <body class"layout-default">
        <section class="hero is-large has-text-centered box">
            <h1 class="title is-1"><a href="{% url 'lecture_list' %}">Hertz</a></h1>

            <div class="header-element">
            {% if user.is_authenticated %}
                <h1><a href="{% url 'logout' %}">Logout</a></h1>
            {% else %}
                <h1><a href="{% url 'login' %}">Login</a></h1>
            {% endif %}
            </div>

        </section>

        <section class="container">
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>
