{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="box container">

    <h1 class="subtitle">Log in to Hertz</h1>

    {% if form.errors %}
        <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% for field in form%}
            <p class="control">
                {{ field.errors }}

                {% if form.errors %}
                    {% render_field field class="input is-danger" placeholder=field.label %}
                {% else %}
                    {% render_field field class="input is-primary" placeholder=field.label %}
                {% endif %}

            </p>

            <br>
        {% endfor %}

        <input class="button is-primary" type="submit" value="Submit" />
    </form>
</div>

{% endblock %}
